@model List<ProductCategory>
@{
    ViewData["Title"] = "GetAllCategories";
}

<h1>Categories</h1>

<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Category Name</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td>
                    <a asp-controller="Category"
                       asp-action="UpdateCategory"
                       asp-route-id="@item.Id"
                       class="btn btn-sm btn-primary">
                        Edit
                    </a>
                    <a asp-controller="Category"
                       asp-action="DeleteCategory"
                       asp-route-id="@item.Id"
                       class="btn btn-sm btn-danger">
                        Delete
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a asp-controller="Category"
   asp-action="CreateCategory"
   class="btn btn-sm btn-primary">
    Create New Category
</a>